#weather
	width 30%
	margin: 3% auto

border-radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	border-radius: arguments

button {
	border-radius: 5px 10px;
	margin-top: 2em
}

#unit 
	margin-top 2%